.mega-items {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    font-size: max(.7em, .9em);
    p {
        display: flex;
        align-items: center;
        border-top: 1px solid gray;
        span {
            align-items: center;
            color: #A67B48;
            margin: 15px 0;
            margin-right: 20px;
        }
    }
    
}