.shared-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #1A1B1C;
    width: 100%;
    color: #fff;
    padding: max(35px, 5%) 10% max(10px, 2vw);

    .main-row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%; 
    }

    @media(max-width:1350px) {
        padding: 35px;
    }
}

.shared-footer .first-col {
    width: calc(33% - 55px);

    .top {
        .logo-container {
            width: 55%;
            display: flex;
            align-items: center;
            // justify-content: space-between;

            .logo {
                content: url('../../assets/logoWhite.png');
                height: max(55px, 2.2vw);
                color: #fff;
            }

            h5 {
                font-family: "Playfair Display", serif;
                font-size: clamp(28px, 2vw, 45px);
                margin-left: .7em;
            }
        }
    
        h5 {
            font-size: max(16px, 22px);
            margin: .51em 0;
            font-weight: 500;
            color: #fff;
            z-index: 100000;
        }
    }


    p {
        font-size: max(12.5px, 0.8vw);
        line-height: 1.5;
        margin: max(5px, 0.35vw) 0;
    }

    .links1 {
        width: 800px;
        display: flex;
        justify-content: space-between;
        margin-top: max(17px, 1.35vw);
    }

    .links1 a {
        background: rgba(255, 255, 255, 0.2);
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        width: max(30px, 4vw);
        height: max(30px, 3vw);
        font-size: max(16px, 1.1vw);
        border-radius: 50%;
        margin-right: max(10px, 0.9vw);
        transition: 0.15s ease-in-out;
        -webkit-transition: 0.15s ease-in-out;

        &:hover {
            background: #a67b48;
        }
    }

    .subscribe {
        margin: 5em 0;
        max-width: 100%;
        input {
            background-color: rgb(47, 48, 49);
            border: 1px solid #c0b6b6d9;
            border-radius: 20px;
            color: #fff;
            margin-bottom: 1.5rem;
            max-width: 250px;
            outline: none;
            padding: 15px 45px;
            position: absolute;
            width: 50%
        }

        #envelope {
            left: 1rem;
            position: relative;
            top: 3px
        }

        button {
            background-color: #a67b48;
            border: none;
            border-radius: 50px;
            color: #fff;
            left: 12rem;
            padding: 16.5px;
            position: relative;
            width: 110px;
            cursor: pointer;
        }
    }

    .contact-info {
        width: 100%;
        margin: 15px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .phone {
            display: flex;
            align-items: center;

            .phone-svg {
                font-size: 30px;
                margin-right: 5px;
            }
    
            h4 {
                font-size: max(17px, 20px);
                font-weight: bold;
            }
    
            p {
                font-size: max(10px, 15px);
                margin-left: 10px;
            }
        }

        .social {
            display: flex;
            justify-content: center;

            .icons {
                padding: max(.1rem, .2rem);
                width: 80%;
                display: flex;
                justify-content: center;

                .icon {
                    background: transparent;
                    font-size: max(14px, 34px);
                }
            }
        }

    }

}

.shared-footer .all-footer-links {
    width: 50%;
    display: flex;
    justify-content: space-around;

    .footer-list {
        width: fit-content;
        max-width: 30%;
    }

    .links {
        display: flex;
        flex-direction: column;
    }

    h6 {
        font-size: max(15px, 1.2vw);
        font-weight: normal;
        text-transform: uppercase;
        margin-bottom: max(10px, 0.75vw);
    }

    a {
        color: #fff;
        font-size: max(13px, 0.9vw);
        margin: max(5px, 0.5vw) 0;
        line-height: 1.5;
        transition: 0.1s ease-in-out;

        &:hover {
            color: #a67b48;
        }
    }
}


.shared-footer .last-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    border-top: 1px solid #b6b1b1;
    margin-top: max(20px, 1vw);
   

    p {
        font-size: max(13px, 0.9vw);
        margin: 15px;
        line-height: 1.7;
        text-align: center;
    }

    .right {
        display: flex;
        justify-content: space-between;
        button {
            margin-right: max(15px, 18px);
        }
    }
}


@media(max-width:1020px) {
    .shared-footer {
       
        .main-row .first-col {
            justify-content: center;
            align-items: center;
            width: 100%;
            margin-bottom: 35px;

            .links1 a {
                width: 35px;
                height: 35px;
                font-size: 20px;
            }
            // .subscribe {

            // }
        }

        .main-row .all-footer-links {
            width: 100%;
        }
    }
}

@media(max-width:650px) {
    .shared-footer .first-col {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .top {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .logo-container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
            }
        }
        text-align: center;

        .colors {
            flex-direction: column;
        }

        .logo {
            margin: 0 auto 20px;
        }

        .links1 {
            justify-content: center;
        }

        .links1 a {
            margin: 5px;
        }

        .subscribe {
            input {
                left: 300px;
            }

            #envelope {
                left: -50px;
            }

            button {
                left: 110px;
            }
        }
    }

    .shared-footer .all-footer-links {
        flex-wrap: wrap;

        .footer-list {
            text-align: left;
            
            margin: 15px 0;
        }

        h6 {
            font-weight: 600;
        }
    }

    .shared-footer .last-row {
        flex-direction: column;

        p {
            margin-bottom: 25px;
        }

       
    }
}