.hero {
    width: 100%;
    display: flex;
    margin: 0 auto;
    margin-top: 3em;
    margin-bottom: 20px;

    .hero-section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .hero-upper {
            display: flex;
            text-align: left;
            margin: 2rem 0;

            .hero-title {
                h1 {
                    font-family: "Playfair Display", serif;
                    font-size: clamp(40px, 4vw, 80px);
                    font-weight: 400;
                    line-break: auto;
                    line-height: 1.2em;
                }
            }

            .hero-description {
                display: flex;
                font-size: clamp(10px, 3vw, 20px);
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                padding: 50px 0;
                text-align: left;

                button {
                    display: flex;
                    align-items: center;
                    background-color: #A67B48;
                    font-size: max(0.8em, 0.5em);
                    color: #fff;
                    margin-top: 30px;
                    padding: 15px 50px;
                    border: none;
                    border-radius: 40px;
                    transition: .5s all ease-in-out;
                    cursor: pointer;

                    .button-right {
                        font-size: 25px;
                        margin-left: 15px;
                    }

                    &:hover {
                        padding: 13px 45px;
                    }
                }
            }

        }

        .hero-lower {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 100%;
                position: relative;


            }

            // .top-image {
            //     z-index: 8;
            //     position: absolute;
            //     right: 120px;
            //     width: 200px;
            //     height: 200px;
            //     display: none;
            // }
        }
    }
}

@media (min-width: 1475px) {
    .hero {
        .hero-section {
            .hero-upper {
                .hero-title {
                    margin-right: 10em;

                }
            }
        }
    }
}

@media (max-width: 1475px) {
    .hero-section {
        justify-content: center;
        align-items: center;

        .hero-upper {
            flex-direction: column;
            justify-content: center;
            width: 60%;
            text-align: center;
            align-items: center;

            .hero-title {
                h1 {
                    text-align: center;
                }
            }

            .hero-description {
                p {
                    text-align: center;
                }

                button {
                    align-self: center;
                }
            }
        }
    }
}

.hero-lower {
    width: 100%;
    // .top-image {
    //     display: none;

    // }
}