.practice {
    margin: max(5%, 2vw) max(5%, 1vw);

    // display: flex;
    // flex-direction: column;

    .practice-content {
        display: flex;
        flex-direction: column;

        .practice-title {
            h1 {
                font-family: "Playfair Display", serif;
                font-size: clamp(55px, 2.5vw, 109px);
                margin-bottom: 45px;
                font-weight: 500;
            }

            hr {
                width: 15%;
                background-color: #111;
            }
        }

        .cards {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 5.5em;
            margin: 100px 0;

            .practice-icon {
                color: #A67B48;
                font-size: 4em;
                margin-bottom: 5px;

            }

            .practice-card-title {
                font-family: "Playfair Display", serif;
                margin: 25px 0;
                font-size: clamp(25px, 1.5vw, 32px);
                font-weight: 600;
            }

            .practice-card-description {
                font-size: clamp(18px, 1.3vw, 22px);
            }



        }
    }
}

@media (max-width: 1475px) {
    .practice {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .practice-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .cards {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                .card-data {
                    width: 400px; 
                }
            }
        }
    }
}

@media (max-width: 1000px) {
    .practice {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .practice-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;

            .cards {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                width: 80%;
                text-align: center;
            }
        }
    }
}

@media (max-width: 420px) {
    .practice {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        .practice-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            .practice-title {
                text-align: center;
                width: 80%;
            }
            .cards {
                width: 50%;
                text-align: center;
            }
        }
    }
}
