.services {
    display: flex;
    justify-content: space-between;
    margin: 80px 4%;

    .services-title {
        h1 {
            font-family: "Playfair Display", serif;
            font-size: clamp(50px, 4.5vw, 109px);
            margin-bottom: 45px;
            font-weight: 500;

        }

        hr {
            width: 60%;
            color: #111;
            background-color: #111;

        }
    }

    .services-mid-section {
        display: grid;
        grid-template-columns: repeat(1, 1fr);

        .services-personal,
        .services-business {
            h3 {
                font-family: "Playfair Display", serif;
                font-weight: 600;
                font-size: clamp(25px, 2em, 50px);
                margin-bottom: 20px;
            }

            p {
                font-size: clamp(20px, 1.5em, 40px);
            }
        }
    }

    img {
        width: 400px;
        height: 550px;
    }
}

@media (max-width: 1475px) {
    .services {
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        .services-mid-section {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            padding: 25px 25px;

            .services-personal {
                margin-right: 2rem;
            }
        }
    }
}

@media (max-width: 768px) {
    .services {
        margin-top: 3rem;
        .services-mid-section {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            text-align: left;

            .services-personal {
                margin-bottom: 3rem;
            }
        }
    }
}

@media (max-width: 520px) {
    .services {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-top: 3rem;

        .services-mid-section {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            max-width: 80%;
            text-align: center;
        }

        img {
            width: 390px;
            height: 490px;
        }
    }
}

@media (max-width: 320px) {
    .services{

        .services-mid-section {
            width: 50%;
        }

        img {
            width: 250px;
            height: 390px;
        }
    }
}