*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Wix Madefor Text, sans-serif";
}

body,
html,
#root {
  margin: 0;
  display: flex;
  justify-content: center;
  // align-items: center;
  scroll-behavior: smooth;
  background-color: #fff;
}

.app-container {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  height: 100vh;
  width: 90vw;
  margin: 0 auto;
}

